*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .contenedor{
        position: relative;
        background-color: rgb(255, 255, 255);
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 7px rgb(0, 0, 0);
        border-radius: 10px;
        
        .title{
            position: absolute;
            top: 0;
            left: 50;
            margin: 20px;
        }
        #mostrarColor{
            margin-left: 40px;
            margin-bottom: 10px;
            font-size: 20px;
        }
        #btn{
            margin-left: 40px;
            padding: 10px;
            border: none;
            border-radius: 8px;
            box-shadow: 0px 1px 4px rgb(0, 0, 0);
            font-size: 14px;
            font-weight: 800;
        }
        .card{
            width: 150px;
            height: 150px;
            background-color: white;
            position: absolute;
            top: 100;
            left: 0;
            transform: translateX(-60px);
            box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.521);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
           
    }
    }
}